#root {
  max-width: 100%;
}
@font-face {
  font-family: Cremona;
  src: url(./assets/static/fonts/Cremona-Regular.ttf);
}
@font-face {
  font-family: Urbanist;
  src: url(./assets/static/fonts/Urbanist-Regular.ttf);
}
@font-face {
  font-family: UrbanistMedium;
  src: url(./assets/static/fonts/Urbanist-Medium.ttf);
}
@font-face {
  font-family: UrbanistSemibold;
  src: url(./assets/static/fonts/Urbanist-SemiBold.ttf);
}
@media (prefers-reduced-motion) {
  #root {
    animation: none;
  }
}


.bg-sky-img{
  background-image: url(/src/assets/static/imgpage/Rectangle\ 55.png);
}
